@font-face {
  font-family: Kitab;
  font-display: block;
  src: url(/assets/kitab-base.woff2);
}
@font-face {
  font-family: Kitab;
  font-display: block;
  src: url(/assets/kitab-base-b.woff2);
  font-weight: 700;
}
@font-face {
  font-family: Kitab;
  src: url(/assets/kitab-phrases.woff2);
}
@font-face {
  font-family: Kitab;
  src: url(/assets/kitab-phrases.woff2);
  font-weight: 700;
}
@font-face {
  font-family: NoName;
  src: url(https://raw.githubusercontent.com/alif-type/noname-fixed/main/NoNameFixed-Regular.otf);
}

html {font-size: 16px;}
*, ::after, ::before {
  box-sizing: border-box;
}
html, body, main {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Kitab, sans-serif;
}
input, textarea, button {
  font-size: inherit;
  font-family: inherit;
}

.icon {
  display: inline-block;
  color: #444444;
  width: 0.85rem;
  height: 0.85rem;
  fill: currentColor;
  vertical-align: middle;
  color: inherit;
  pointer-events: none;
}

mark.repl-1, .mark.repl-1 { background-color: #ffa500; }
mark.repl-2, .mark.repl-2 { background-color: #e3a857; }
mark.repl-3, .mark.repl-3 { background-color: #c46210; }
mark.repl-4, .mark.repl-4 { background-color: #ff7f50; }
mark.repl-5, .mark.repl-5 { background-color: #ff8c00; }
mark.repl-6, .mark.repl-6 { background-color: #ffefd5; }
mark.repl-7, .mark.repl-7 { background-color: #ffdab9; }
mark.repl-8, .mark.repl-8 { background-color: #ffe5b4; }
mark.repl-9, .mark.repl-9 { background-color: #ff4500; }
mark.repl-10, .mark.repl-10 { background-color: #ffdab9; }

button {
  text-align: inherit;
  padding: 0.35rem 0.6rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.text-center {
  text-align: center;
}
.faded {
  color: #999;
}
.noname {
  font-family: noname;
}
.noname span {
  display: inline-block;
}

input[type=radio] {
  display: none;
}
input[type=radio] + div {
  color: #999;
  display: inline-block;
  cursor: pointer;
  padding: 0.2rem 0.5rem 0;
  border: 2px solid #aaa;
}
input[type=radio]:checked + div {
  color: white;
  background: #2196f3;
}

.radio-group label:first-child div {
  border-radius: 5px 0 0 5px;
  border-left-width: 2px;
}
.radio-group label:last-child div {
  border-radius: 0 5px 5px 0;
  border-right-width: 1px;
}
input[type=radio] + div {
  border-width: 2px 1px;
}
button.fancy {
  background: #ddd;
  box-shadow: -2px 2px #444;
  border-radius: 3px;
  transition: box-shadow 750ms;
  padding: 0.35rem 0.5rem 0.15rem 0.6rem;
}
button.fancy:active {
  box-shadow: none;
  transition: box-shadow 0s;
}

.flex-column {display: flex; flex-direction: column; }
.flex {display: flex;}
.flex-end {align-items: flex-end;}
.flex-1 {flex: 1;}
.flex-center {display: flex; justify-content: center; }
.align-center {
  align-items: center;
}


.bordered {
  padding: 0.3rem 0.1rem;
  border: 2px solid grey;
  border-radius: 5px;
  display: flex;
}
html.user-is-tabbing button {
  outline: revert;
}
